.help-block{
    color: red !important;
}

.field-checkform-provider_id {
    width: 100%;
}
.field-checkform-provider_id2 {
    width: 100%;
}
.field-checkform-tariff_id2 {
    width: 100%;
}
.field-checkform-tariff_id {
    width: 100%;
}
.skyblue {
    background: skyblue;
}
.field-provider ,.field-provider2,.field-provider-id,.field-provider-id2 {
    width: 100%;
}
.field-tariffs-unlim {
    width: 50%;
}

.pagination {
    justify-content: center;
}

.pagination li {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px 10px;
}
.pagination li.active{
    background: blue;
    color: white;
}
.pagination li a:hover {
    text-decoration: none;
    color: black;
}

.pagination .active a:hover {
    color: white;
}
.scroll-page {
    overflow: hidden !important;
    overflow-x: scroll !important;
}
table thead {
    background: palegreen;
}